@{
    ViewBag.Title = "О приложении";
}
<h2>@ViewBag.Title.</h2>

<p>Данное веб-приложение создано в рамках выполнения курсовой работы по дисциплине "Базы данных" студентом группы АСУ-15-1бз электротехнического факультета ПНИПУ Ивановым А.С.</p>
