@model PoliticPolls.DataModel.Terrtitory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>terrtitory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TerritoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerritoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
